body {
  box-sizing: border-box;
  font-family: montserrat;
}

.card-size {
  height: 100%;
}

.img-size{
  object-fit: contain;
  height: 280px;
  padding-top: 20px;
}

.img-size-detail{
  object-fit: contain;
  height: 300px;
}

.heading{
  width: 1110px;
  margin: auto;
}

.details-card{
  max-width: 1110px;
  margin: auto;
}

.on-hover:hover{
  cursor: pointer;
}

.grow {
  transition: all .2s ease-in-out;
}

.grow:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.background-black {
  background-color: black;
}

.text-yellow {
  color: #FDEF17;
}

.montserrat-black-italic {
  font-family: montserrat;
  font-weight: 900;
  font-style: italic;
}

.montserrat-regular {
  font-family: montserrat;
  font-weight: 400;
}

.montserrat-bold {
  font-family: montserrat;
  font-weight: 700;
}

.montserrat-semi-bold {
  font-family: montserrat;
  font-weight: 600;
}

.background-yellow {
  background-color: #FDEF17;;
}
