* {
  animation: fade-in .30s;
  animation-fill-mode: forwards;
}

body {
  box-sizing: border-box;
  font-family: montserrat;
}

.card-size {
  height: 100%;
}

.img-size{
  object-fit: contain;
  height: 280px;
  padding-top: 20px;
}

.img-size-detail{
  object-fit: contain;
  height: 300px;
}

.heading{
  max-width: 1110px;
  margin: auto;
}

.details-card{
  max-width: 1110px;
  margin: auto;
}

.on-hover:hover{
  cursor: pointer;
}

.grow {
  transition: all .2s ease-in-out;
}

.grow:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.background-black {
  background-color: black;
}

.text-yellow {
  color: #FDEF17;
}

.montserrat-black-italic {
  font-family: montserrat;
  font-weight: 900;
  font-style: italic;
}

.montserrat-regular {
  font-family: montserrat;
  font-weight: 400;
}

.montserrat-bold {
  font-family: montserrat;
  font-weight: 700;
}

.montserrat-semi-bold {
  font-family: montserrat;
  font-weight: 600;
}

.background-yellow {
  background-color: #FDEF17;;
}

.modal-overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: white;
  max-width: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.fade-in {
  animation: fade-in .65s;
  animation-fill-mode: forwards;
}

.fade-out {
  animation: fade-out .65s;
  animation-fill-mode: forwards;
}

.slide-in {
  animation: slide-in .65s;
  animation-fill-mode: forwards;
}

.slide-out {
  animation: slide-out .65s;
  animation-fill-mode: forwards;
}

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fade-out {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes slide-in {
  0% { transform: translate3d(0, 100%, 0); }
  100% { transform: translate3d(0, 0%, 0); }
}

@keyframes slide-out {
  0% { transform: translate3d(0, 0%, 0); }
  100% { transform: translate3d(0, -100%, 0); }
}
