.card-size {
  width: 21rem;
  height: 470px;
}

.img-size{
  object-fit: contain;
  height: 280px;
}

.img-size-detail{
  object-fit: contain;
  height: 300px;
}

.heading{
  width: 1110px;
  margin: auto;
}

.details-card{
  max-width: 1110px;
  margin: auto;
}
